<ul class="flex flex-wrap gap-8">
  <li>
    <a class="hover:text-social-mastodon" href="{{ site.social.mastodon }}">
      <svg class="w-8 h-8 icon">
        <title>Mastodon</title>
        <use xlink:href="#mastodon-icon"></use>
      </svg>
    </a>
  </li>
  <li>
    <a class="hover:text-social-twitter" href="{{ site.social.twitter }}">
      <svg class="w-8 h-8 icon">
        <title>X (Formerly Twitter)</title>
        <use xlink:href="#twitter-icon"></use>
      </svg>
    </a>
  </li>
  <li>
    <a class="hover:text-social-github" href="{{ site.social.github }}">
      <svg class="w-8 h-8 icon">
        <title>Github</title>
        <use xlink:href="#github-icon"></use>
      </svg>
    </a>
  </li>
  <li>
    <a class="hover:text-social-facebook" href="{{ site.social.facebook }}">
      <svg class="w-8 h-8 icon">
        <title>Facebook</title>
        <use xlink:href="#facebook-icon"></use>
      </svg>
    </a>
  </li>
</ul>
