<ul class="hidden site-nav lg:flex">
  <li class="lg:hidden"><a href="/">Home</a></li>
  <li>
    <a href="/about"
    data-menu-trigger
    aria-haspopup="true"
    aria-expanded="false">About</a>
    <ul
      data-menu-list
      role="menu"
      class="hidden site-nav-menu">
      <li><a href="/about/" role="menuitem">About DjangoCon US</a></li>
      <li><a href="/tickets/" role="menuitem">Tickets</a></li>
      <li><a href="/hackathon/" role="menuitem">Hackathon</a></li>
      <li><a href="/faq/" role="menuitem">FAQ</a></li>
      <li><a href="/conduct/" role="menuitem">Code of Conduct</a></li>
      <li><a href="/public-health/" role="menuitem">Public Health</a></li>
      <li><a href="/opportunity-grants/" role="menuitem">Opportunity Grants</a></li>
      <li><a href="/visas/" role="menuitem">Visa Support</a></li>
      <li><a href="/organizers/" role="menuitem">Organizers</a></li>
    </ul>
  </li>
  <li><a href="/schedule/">Schedule</a></li>
  <li><a href="/venue/"
    data-menu-trigger
    aria-haspopup="true"
    aria-expanded="false">Venue</a>
    <ul
      data-menu-list
      role="menu"
      class="hidden site-nav-menu">
      <li><a href="/venue/#welcome">Welcome to Durham!</a></li>
      <li><a href="/venue/#hotel">Staying in Durham</a></li>
      <li><a href="/venue/#places">Around Durham</a></li>
      <li><a href="/venue/#accessibility">Accessibility</a></li>
      <li><a href="/room-sharing/" role="menuitem">Room Sharing</a></li>
    </ul>
  </li>
  <li>
    <a href="/speaking/"
      data-menu-trigger
      aria-haspopup="true"
      aria-expanded="false">Speaking</a>
    <ul
      data-menu-list
      class="hidden site-nav-menu">
      <li><a href="/speaking/" role="menuitem">Speaking at DjangoCon US</a></li>
      <li><a href="/speaking/speaker-resources/" role="menuitem">Speaker Resources</a></li>
    </ul>
  </li>
  <li>
    <a href="/sponsors/"
      data-menu-trigger
      aria-haspopup="true"
      aria-expanded="false">Sponsors</a>
    <ul
      data-menu-list
      class="hidden site-nav-menu">
      <li><a href="/sponsors/" role="menuitem">Our Sponsors</a></li>
      <li><a href="/sponsors/information/" role="menuitem">Sponsorship Prospectus</a></li>
    </ul>
  </li>
  <li><a href="/news/">News</a></li>
  <li><a href="{{ site.ticket_link }}" class="button bg-light-blue">Buy Tickets</a></li>
</ul>
