---
name: Firstname Lastname
hidden: false
photo: photo.jpg
role: "Assignment, Assignment"

# Mastodon and Website accept a URL. Other networks accept a handle.
social:
    bluesky:
    github:
    instagram:
    mastodon:
    twitter:
    website:
---
