---
name: "Location Name"
hidden: false
photo: photo.png
location: "111 Corcoran Street"
distance: "2 blocks (0.1 miles) away"
map: "https://goo.gl/maps/sHmC8kuSBycrRfek8"
website: "https://www.21cmuseumhotels.com/durham/"
---

140 character text description
