---
layout: default
---

<div class="hero">
  <div class="wrapper max-w-[60rem]">
    <h1 class="mb-6 text-2xl font-bold leading-tight lg:text-4xl">{{ title }}</h1>

    <p class="flex items-center gap-4">
      <time class="text-2xl">{{ datetime | date: "%A, %B %-d @ %l:%M %P"}}</time>
      to
      <time class="text-2xl">{{ end_datetime | date: "%l:%M %P"}}</time>

      <a
        href="https://time.is/compare/{{ datetime | utcDate | date: "%I%M%p_%d_%B_%Y" }}_in_Durham"
        class="button"
        aria-label="View on time.is">🗓️ View on time.is</a>
    </p>
  </div>
</div>

<div class="pt-0 block-container">
  <div class="wrapper max-w-[60rem]">
    <div class="prose lg:prose-lg max-w-none">
      {{ content | markdown }}
    </div>
  </div>
</div>

{% if presenter_slugs %}
<div class="pt-0 block-container">
  <div class="wrapper max-w-[60rem]">
    <div class="pt-6 mt-auto">
      <h2 class="sr-only">Presented by</h2>
      <ul class="space-y-8">
        {% for presenter_slug in presenter_slugs %}
          {% assign presenter = collections.presenters | find:presenter_slug %}
          {% assign presenter = presenter.data %}

          <li class="flex flex-wrap items-center gap-3">
            {% if presenter.photo != null and presenter.photo != "" %}
              {% assign photo = 'src/_content/presenters/' | append: presenter.photo %}
              {% image photo, './dist/presenters/', '/presenters/', presenter.name, '(max-width: 1024px) 180px, 180px', 'inline-block object-cover object-left-top aspect-square rounded-full w-32 h-32' %}
            {% endif %}

            <div>
              <span class="flex flex-col gap-[6px]">
                <h3 class="text-xl leading-4">{{ presenter.name }}</h3>
                {% if presenter.pronouns %}
                  <span class="text-sm">
                    ({{ presenter.pronouns }})
                  </span>
                {% endif %}
              </span>

              {% if presenter.content %}
                <div class="prose">
                  {{ presenter.content | markdown }}
                </div>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}
