@import "tailwindcss/base";

@import "tailwindcss/components";
@import "components/_badge.css";
@import "components/_buttons.css";
@import "components/_table.css";
@import "components/_containers.css";
@import "components/_site-nav.css";

@import "views/_social-view.css";

@import "tailwindcss/utilities";

@layer base {
  /* THEME-X */
  :root {
    /* Typography */
    --theme-text-color: #000;

    /* Colors */
  }

  /*
    h-screen and flex-col on the body allow the footer
    to be fixed to the bottom of the viewport.
  */
  html {
    @apply scroll-smooth;
  }

  html,
  body {
    @apply h-screen;
  }

  body {
    @apply flex flex-col relative;
    @apply antialiased;

    color: var(--theme-text-color);
  }

  figcaption {
    @apply text-sm text-center mt-3;
  }

  input:not([type="checkbox"]):not([type="radio"]),
  select,
  textarea {
    @apply w-full;
    @apply px-3 py-2;
    @apply border border-gray-400 rounded;
    @apply shadow-sm;
    @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue;
  }

  label {
    @apply block mb-2 font-medium;
  }

  ::placeholder {
    @apply text-gray-500;
  }

  a,
  .link {
    @apply underline;
  }

  a:hover,
  .link:hover {
    @apply no-underline;
  }

  :focus-visible {
   outline: 6px solid theme('colors.red.DEFAULT');
  }

  a.reverse-link {
    @apply no-underline;
  }

  a.reverse-link:hover {
    @apply underline;
  }

  .font-heading {
    @apply leading-tight font-medium;
  }

  .icon {
    @apply inline-block;
    @apply align-middle;
    @apply w-6 h-6;
  }

  .media {
    @apply rounded;
  }

  .avatar {
    @apply block w-full object-cover object-left-top aspect-square;
  }

  .pageheading {
    @apply text-4xl font-bold leading-tight lg:text-5xl;
  }

  .subheading {
    @apply text-xl leading-tight font-medium lg:text-3xl;
  }

  .lead {
    @apply text-lg lg:text-xl leading-8 lg:leading-8;
  }

  .photo-effect {
    @apply block relative;
  }

  .photo-effect::before {
    @apply absolute z-10;
    @apply block w-full h-full rounded;
    content: '';

    opacity: 0.4;
    background: linear-gradient(126deg, theme('colors.light-blue.DEFAULT') 11.2%, theme('colors.orange.DEFAULT') 69.95%, theme('colors.red.DEFAULT') 90.34%);
  }

  .photo-effect img {
    @apply rounded;
  }

  .card-effect-1,
  .card-effect-2,
  .card-effect-3 {
    @apply relative border-light-blue border-2;
  }

  .card-effect-1::before,
  .card-effect-2::before,
  .card-effect-3::before {
    @apply absolute z-10;
    @apply bg-no-repeat bg-contain;
    content: "";
  }

  .card-effect-1::before {
    @apply block w-32 h-16 top-0 -left-8 -rotate-[35deg];
    background-image: url(/assets/img/theme/tape.svg);
  }

  .card-effect-2::before {
    @apply block w-32 h-16 bottom-0 -right-16 -rotate-[70deg];
    background-image: url(/assets/img/theme/tape-short.svg);
  }

  .card-effect-3::before {
    @apply block w-40 h-16 -top-7 left-1/3 -rotate-[-4deg];
    background-image: url(/assets/img/theme/tape.svg);
  }

  #loader {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid theme('colors.blue.DEFAULT');
    border-radius: 100%;
    margin: auto;
    animation: spin 1s infinite linear;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

@layer components {
  .prose {
    /* THEME-X */
    /* Prose (long form text) overrides */
    --tw-prose-body: var(--theme-text-color);
    --tw-prose-headings: var(--theme-text-color);
    --tw-prose-lead: var(--theme-text-color);
    --tw-prose-links: var(--theme-text-color);
    --tw-prose-bold: var(--theme-text-color);
    --tw-prose-counters: var(--theme-text-color);
    --tw-prose-bullets: var(--theme-text-color);
    --tw-prose-hr: var(--theme-text-color);
    --tw-prose-quotes: var(--theme-text-color);
    --tw-prose-quote-borders: var(--theme-text-color);
    --tw-prose-captions: var(--theme-text-color);
    --tw-prose-kbd: var(--theme-text-color);
    --tw-prose-kbd-shadows: 17 24 39;
    --tw-prose-code: var(--theme-text-color);
  }

  .prose a {
    @apply link;
  }
}

@layer utilities {
  .cover::before {
    @apply absolute left-0 top-0;
    @apply h-full w-full;
    content: '';
  }

  .bg-sep {
    background-image: linear-gradient(180deg, transparent 47%, theme(colors.gray.100) 50%, transparent 53%);
  }
}
