<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ title }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body class="view-presenter-social">
  <div class="speaker-template">
    {% if photo != blank %}
      <img
        src="{{ photo_url }}"
        width="420"
        alt="{{ page.name }}"
        class="speaker-template-photo" />
    {% endif %}

    <h1 class="speaker-template-name">{{ name }}</h1>

    {% assign presentations = site.schedule | where: "presenter_slugs", page.slug %}

    {% if page.override_schedule_title %}
      <h2 class="speaker-template-session-title">{{ page.override_schedule_title }}</h2>
    {% else %}
      {% assign unique_titles = "" | split: "," %}
      {% for schedule in presentations %}
        {% unless unique_titles contains schedule.title %}
          <h2 class="speaker-template-session-title">{{ schedule.title }}</h2>
          {% assign unique_titles = unique_titles | push: schedule.title %}
        {% endunless %}
      {% endfor %}
    {% endif %}
  </div>

</body>
</html>
