---
title: Logo files

order: 0

description: |
  Logos are stored on GitHub in the [resources repository](https://github.com/djangocon/resources).

fullLogoFolder: https://raw.githubusercontent.com/djangocon/resources/main/us-2024/logos/full-logo/

subMarkFolder: https://raw.githubusercontent.com/djangocon/resources/main/us-2024/logos/submark/

logos:
  - black.png
  - black.svg
  - blue.png
  - blue.svg
  - orange.png
  - orange.svg
  - red.png
  - red.svg

submark:
  - FAVICON.png
  - just letters black.png
  - just letters orange.png
  - org-slack-green.png
  - FAVICON.svg
  - just letters black.svg
  - just letters orange.svg
  - org-slack-green.svg
  - Org-slack-purple.png
  - just letters blue.png
  - just letters red.png
  - org-slack.png
  - Org-slack-purple.svg
  - just letters blue.svg
  - just letters red.svg
  - org-slack.svg
---

<h3 class="mb-2 text-lg font-bold lg:text-2xl font-heading">Full Logo</h3>

<ul class="flex flex-wrap gap-12">
  {% for logo in logos %}
    {% assign logoUrl = fullLogoFolder | append: logo | escape %}
    <li>
      <a
        href="{{ logoUrl }}"
        class="flex flex-col items-center gap-4"
        target="_blank">
        <img
          src="{{ fullLogoFolder }}{{ logo }}"
          alt="Full logo in {{ logo | split: '.' | last }}"
          class="h-16">

        <span class="block text-sm font-semibold">{{ logo }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

<h3 class="mb-2 text-lg font-bold lg:text-2xl font-heading">Submark</h3>

<ul class="flex flex-wrap gap-12">
  {% for mark in submark %}
    {% assign markUrl = subMarkFolder | append: mark | escape %}
    <li>
      <a
        href="{{ markUrl }}"
        class="flex flex-col items-center gap-4"
        target="_blank">
        <img
          src="{{ subMarkFolder }}{{ mark }}"
          alt="Submark in {{ mark | split: '.' | last }}"
          class="h-16">

        <span class="block text-sm font-semibold">{{ mark }}</span>
      </a>
    </li>
  {% endfor %}
</ul>
