---
layout: default

title: Welcome to DjangoCon US

## Archived version of homepage

# Featured talks (talks only). Max 6.
featured_session_slugs:
  - error-culture
  - upgrading-eol-django-a-journey-from-v1-to-v5
  - finding-2-0


# Any number of featured photos. No maxiumum.
# Desktop this looks like a 3x3 grid, with 2 on the first row.
# Best to use (3*n + 2) photos.
featured_photos:
  - src: https://picsum.photos/800/600
    alt: A photo placeholder
  - src: https://picsum.photos/800/600
    alt: A photo placeholder
  - src: https://picsum.photos/800/600
    alt: A photo placeholder
  - src: https://picsum.photos/800/600
    alt: A photo placeholder
  - src: https://picsum.photos/800/600
    alt: A photo placeholder
  - src: https://picsum.photos/800/600
    alt: A photo placeholder
  - src: https://picsum.photos/800/600
    alt: A photo placeholder
  - src: https://picsum.photos/800/600
    alt: A photo placeholder
---

{% if site.phase == "landing" %}
  {% comment %}
    The conference site is not ready
  {% endcomment %}

  {% include 'home/landing-conf-home.html' %}
{% elsif site.phase == "archived" %}
  {% comment %}
    The conference is over
  {% endcomment %}

  {% include 'home/archived-conf-home.html' %}
{% else %}
  {% comment %}
    The conference site is fully live
  {% endcomment %}

  {% include 'home/active-conf-home.html' %}
{% endif %}
