---
layout: default

title: Welcome to DjangoCon US 2024

## Archived version of homepage

# Featured talks (talks only). Max 6.
featured_session_slugs:
  - keynote-sheena-oconnell
  - keynote-mario-munoz
  - keynote-natalia-bidart
  - a-brief-history-of-django
  - an-opinionated-guide-to-modern-django-forms
  - django-the-web-framework-that-changed-my-life


# Any number of featured photos. No maxiumum.
# Desktop this looks like a 3x3 grid, with 2 on the first row.
# Best to use (3*n + 2) photos.
featured_photos:
  - src: /assets/img/2024/54089368503_6d978c30af_c.jpg
    alt: Board game night at DjangoCon US 2024
  - src: /assets/img/2024/54089447634_f814ba2b43_c.jpg
    alt: Dinner at Geer Street Garden
  - src: /assets/img/2024/54089363688_7a5818089f_c.jpg
    alt: DjangoCon US 2024 attendees
  - src: /assets/img/2024/54089445524_7e706bce76_c.jpg
    alt: Attendees at DjangoCon US 2024
  - src: /assets/img/2024/54089369558_641c45d7a0_c.jpg
    alt: Attendees at DjangoCon US 2024
  - src: /assets/img/2024/54088240897_a94556b65d_c.jpg
    alt: Meeting during sprints at DjangoCon US 2024
  - src: /assets/img/2024/54088241362_0c5817d0e3_c.jpg
    alt: Panel discussion at DjangoCon US 2024
  - src: /assets/img/2024/54089363253_3a0747a461_c.jpg
    alt: Rock climbing after DjangoCon US 2024
---


{% block nav %}{% endblock %}
{% if site.phase == "landing" %}
  {% comment %}
    The conference site is not ready
  {% endcomment %}

  {% include 'home/landing-conf-home.html' %}
{% elsif site.phase == "archived" %}
  {% comment %}
    The conference is over
  {% endcomment %}

  {% include 'home/archived-conf-home.html' %}
{% else %}
  {% comment %}
    The conference site is fully live
  {% endcomment %}

  {% include 'home/active-conf-home.html' %}
{% endif %}
