---
title: DjangoCon US 2024 Run Sheets
layout: default
description: |
  The schedule for DjangoCon US 2024.

sitemap: false

days:
  - heading: Tutorials
  - heading: "Talks: Day 1"
  - heading: "Talks: Day 2"
  - heading: "Talks: Deep Dives"
  - heading: "Sprints: Day 1"
  - heading: "Sprints: Day 2"
---

<style>
	@media print {
	    .pagebreak { page-break-after: always; } /* page-break-after works, as well */
	}
</style>

<div class="pb-2 hero">
  <div class="wrapper">
    <h1 class="text-center pageheading">{{ title }}</h1>
  </div>
</div>

<div class="pt-6 block-container">
  <div class="wrapper">
    <div class="space-y-20">
      {% for day in collections.sessionsByDateAndTime %}
        {% comment %}
          Draw each Day, e.g. Talks: Day 1 / Monday, Oct 14
        {% endcomment %}
        <div class="relative">
          <h2
            class="sticky z-20 w-full pt-3 text-lg bg-white lg:top-0 top-20 md:text-2xl lg:py-1lg:bg-white md:pl-56 lg:pl-64"
            id="Day-{{ forloop.index }}">
              <a href="#Day-{{ forloop.index }}" class="reverse-link">
                <span class="font-medium">{{ days[forloop.index0].heading }}</span> /
                <time datetime="{{ day[0] | formatDateTime: 'yyyy-MM-dd' }}">{{ day[0] | formatDateTime: "EEEE, LLL d" }}</time>
              </a>
          </h2>
		<div class="pagebreak"> </div><!-- force page break at the end of each day -->
          <div class=""><!-- md:pl-56 lg:pl-64 -->
            {% if days[forloop.index0].text %}
              {{ days[forloop.index0].text | markdown }}
            {% endif %}
          </div>

          <div class="mt-4 space-y-8">
            {% comment %}
              Draw each time slot, e.g. 9:00 AM to 10:00 AM followed
            {% endcomment %}
            {% for slot in day[1] %}
              <div class=""><!-- flex flex-wrap gap-4 lg:gap-8 -->
                <div class=""><!-- w-full md:w-48 sticky top-[120px] bg-white pb-2 z-10 lg:static lg:pt-6 -->
                  <h3 class=""><!-- w-full font-medium text-gray-500 lg:text-lg lg:py-6 lg:sticky lg:top-12 lg:text-right -->
                    <time datetime="{{ slot.start }}">{{ slot.start | formatDateTime: "h:mm aaa" }}</time> to
                    <time datetime="{{ slot.end }}">{{ slot.end | formatDateTime: "h:mm aaa" }}</time>
                  </h3>
                </div>
                <ul
                  class="flex flex-row flex-wrap flex-1 gap-4 rounded-md lg:p-4 lg:bg-gray-100">
                  {% comment %}
                    Ideally up to 4 tracks, with some sessions spanning every track
                  {% endcomment %}

<!-- slot_sessions -->
                  {%- assign color_classes = "border-t-green,border-t-light-blue,border-t-purple,border-t-orange" | split: "," %}
                  {% for session in slot.sessions %}
                    {%- assign color = color_classes[forloop.index0 | modulo: color_classes.size] %}
                    {% include "session-card-runsheet.html", session:session, color_class:color %}
                  {% endfor %}
<!-- end slot_sessions -->
                </ul>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
