.session-social-template {
  @apply relative;
  width: 1200px;
  height: 630px;
}

.session-social-template-photo {
  @apply absolute z-0 rounded-md;
  top: 68px;
  right: 44px;
  width: 350px;
}

.session-social-presenter-count-2 .session-social-template-photo {
  @apply absolute z-0;
  top: 24px;
  right: 186px;
}

.session-social-presenter-count-2 .session-social-template-photo:nth-of-type(3) {
  @apply absolute z-0;
  top: 270px;
  right: 2px;
}

.session-social-presenter-count-3 .session-social-template-photo {
  @apply absolute z-0;
  top: 26px;
  right: 124px;
  width: 194px;
}

.session-social-presenter-count-3 .session-social-template-photo:nth-of-type(3) {
  @apply absolute z-0;
  top: 250px;
  right: 222px;
}

.session-social-presenter-count-3 .session-social-template-photo:nth-of-type(4) {
  @apply absolute z-0;
  top: 283px;
  right: 2px;
}




.session-social-template-content {
  @apply relative z-10;
  top: 0;
  left: 0;
  width: 700px;
  height: 100%;

  padding-top: 60px;
  padding-left: 60px;
}

.session-social-template-name {
  @apply font-bold leading-tight;
  font-size: 58px;
}

.session-social-template-name::after {
  @apply block relative z-0 bg-no-repeat w-full;
  left: -80px;
  height: 120px;
  background-image: url('/assets/img/theme/social-cards/pencil.svg');
  background-size: auto 100%;
  content: "";
}

.session-social-template-talks {
  @apply font-medium leading-tight;
  font-size: 50px;
}
